*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container1 img{
    padding: 30px;
}
.mobile-image {
    width: 100vw;
}
.heading2 h1{
    padding: 30px 90px 30px 90px;
    font-size: 35px;
    color: hsl(0, 36%, 70%);
    text-transform: uppercase;
    letter-spacing: 15px;
    text-align: center;
}
.heading2 span{
    color: #000;
}
.heading2 p{
    color: hsl(0, 36%, 70%);
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    padding: 0 40px 20px 40px;
}
form{
    text-align: center;
}
.btn{
  color: hsl(0, 93%, 68%);
  border-radius: 35px;
  border-color: rgb(204, 183, 187);
  border: 1px solid rgb(204, 183, 187);
  text-align: left;
  padding-left: 20px;
  width: 280px;
  height: 50px;
  margin: 30px 0 100px 0;
}
.arrow{
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    padding: 10px 20px;
    border-radius: 25px;
    margin-left: -45px;
    border: 1px solid hsl(0, 36%, 70%);
    color: #fff;
    height: 50px;
    width: 70px;
}

@media (max-width: 768px) {

    .desktop-image{
        display: none;
    }
    .heading1{
        display: none;
    }
    .heading2 h1{
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .heading2 {
        display: none;
      }
 .mobile-image{
     display: none;
 }
 .container1{
     float: left;
     height: 100vh;
     width: 60%;
 }
 .desktop-image{
     width: 40%;
     height: 100vh;
 }
 .container1 img{
     padding: 50px 0 30px 130px;
 }
 .heading1 h1{
    padding: 30px 400px 30px 100px;
    font-size: 40px;
    color: hsl(0, 36%, 70%);
    text-transform: uppercase;
    letter-spacing: 15px;
    text-align: start;
    margin-left: 20px;
}
.heading1 span{
    color: #000;
}
.heading1 p{
    color: hsl(0, 36%, 70%);
    text-align: start;
    line-height: 25px;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0 40px 20px 40px;
    margin: 0 300px 0 80px;
}
   .btn{
     margin-left: -10px;
     width: 360px;
 }
 
}